body {
  header {
    padding: 30px;

    .logo {
      width: 40px;
      height: 40px;
    }

    nav {
      float: right;
    }

    nav > a {
      text-decoration: none;
      color: blue;
      margin: 20px;
    }

    nav > a.active {
      text-decoration: underline;
      color: red;
    }
  }

  .missionList {
    width: 90%;
    margin: auto;
    border-collapse: collapse;

    thead {
      th {
        border: solid 1px silver;
        font-family: Helvetica, sans-serif;
        padding: 5px;
      }
    }

    tbody tr:nth-child(odd) {
      background-color: whitesmoke;
    }

    td {
      border: solid 1px silver;
      font-family: Helvetica, sans-serif;
      padding: 5px;

      span {
        background-color: gray;
        color: white;
        white-space: nowrap;
        padding: 5px;
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        border-radius: 3px;
      }

      span.joined {
        background-color: darkcyan;
      }
    }

    td:nth-child(1) {
      font-weight: bold;
      text-align: center;
    }

    td:nth-child(2) {
      font-family: Arial, sans-serif;
      text-align: left;

      button {
        background-color: transparent;
        border: none;
        color: blue;
        cursor: pointer;
      }
    }

    td:nth-child(4) button {
      background-color: white;
      color: gray;
      border: solid 1px gray;
      white-space: nowrap;
      padding: 5px;
      font-family: Helvetica, sans-serif;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
    }

    td:nth-child(4) button.joined {
      color: red;
      border-color: red;
    }
  }

  .profile {
    margin: 7%;

    h1 {
      font-family: Helvetica, sans-serif;
    }

    h2 {
      font-family: Helvetica, sans-serif;
    }

    ul {
      width: 50%;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 20px;
        border: solid 1px lightgray;
      }
    }
  }
}
